header-drawer {
  --transition-transform: transform 0.6s ease;
}

header-drawer {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 666;
  transition: var(--transition-transform);
}

header-drawer.is-hidden {
  transform: translateY(-100%);
}

header {
  padding-block: 16px;
}

header p {
  color: lightsalmon;
  margin-inline: auto;
  max-width: 33ch;
  text-align: center;
}
