header-drawer {
  --transition-transform: transform 0.6s ease;
}

header-drawer {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 666;
  transition: var(--transition-transform);
}

header-drawer.is-hidden {
  transform: translateY(-100%);
}
