tape-loop {
  max-width: 100vw;
  display: flex;
  overflow-x: hidden;
  padding-block: 8px;
}

tape-loop {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.23;
  text-transform: uppercase;
}

tape-loop .tape {
  --gap: 8px;
  animation: marquee 15s linear infinite;
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  margin-inline: calc(var(--gap) * 1 / 2);
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
