@import "./reset/reset.css";
@import "./variables/root.css";
@import "./layout/l-reel.css";
@import "./utilities/utilities.css";
@import "./components/cutout.css";
@import "./components/product.css";
@import "./components/header-drawer.css";
@import "./components/tape-loop.css";
@import "./components/color-changer.css";

header {
  padding-block: var(--header-padding-block);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: white;
  margin-inline: auto;
  max-width: 33ch;
  text-align: center;
}

.hero {
  padding-top: calc(
    var(--header-padding-block) * 2 + var(--h1-font-size) *
      var(--h1-line-height)
  );
}

.product-grid {
  margin-bottom: 110px;
  margin-top: 90px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (min-width: 767px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
  }
}
