---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeaderDrawer from "@components/HeaderDrawer.astro";
import CutoutCarousel from "@components/CutoutCarousel.astro";
import ProductGrid from "@components/ProductGrid.astro";
import TapeLoop from "@components/TapeLoop.astro";
---

<BaseLayout>
  <HeaderDrawer />
  <main>
    <CutoutCarousel />
    <ProductGrid />
  </main>
  <footer>
    <TapeLoop class="bg-purple" />
  </footer>
</BaseLayout>
