---
---

<header-drawer>
  <color-changer class="bg-yellow">
    <header>
      <h1>Easy Peasy Lemon Squeezy</h1>
    </header>
  </color-changer>
</header-drawer>

<script>
  class HeaderDrawer extends HTMLElement {
    constructor() {
      super();
      this._lastKnownScrollPosition = 0;
    }

    get lastKnownScrollPosition() {
      return this._lastKnownScrollPosition;
    }

    set lastKnownScrollPosition(val) {
      this._lastKnownScrollPosition = val;
    }

    connectedCallback() {
      document.addEventListener("scroll", this._onScroll.bind(this));
    }

    disconnectedCallback() {
      document.removeEventListener("scroll", this._onScroll.bind(this));
    }

    _onScroll() {
      const windowScrollY = window.scrollY;

      windowScrollY > this.lastKnownScrollPosition
        ? this.classList.add("is-hidden")
        : this.classList.remove("is-hidden");

      this.lastKnownScrollPosition = windowScrollY;
    }
  }

  customElements.define("header-drawer", HeaderDrawer);
</script>
