---

---

<header>
  <p>The Lemon store</p>
</header>

<script>
  const header = document.querySelector('header');
  let lastKnownScrollPosition = 0;

  document.addEventListener('scroll', (_) => {
    if (window.scrollY === 0) {
      header.classList.remove('is-active');
      return;
    }

    header.classList.add('is-active');

    window.scrollY > lastKnownScrollPosition
      ? header.classList.add('is-hidden')
      : header.classList.remove('is-hidden');

    lastKnownScrollPosition = window.scrollY;
  });
</script>